In [30]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
import pickle
from sklearn.metrics import mean_squared_error
from math import sqrt

In [31]:
df_retailer_liq = pd.read_csv("../data/Retailer_Liquidation.csv")

In [32]:
df_retailer_liq.shape

(236000, 12)

In [33]:
df_retailer_liq.isna().sum()

id                 231232
retailer_id             0
product_id              0
received_date           0
sold_date           10011
day_difference          0
sold_stock          10011
pending_stock       10011
available_stock         0
type                    0
end_date           225989
state                   0
dtype: int64

In [34]:
df = df_retailer_liq.drop(columns=["id","end_date","pending_stock","sold_date"])

In [35]:
df.shape

(236000, 8)

In [36]:
df.isna().sum()

retailer_id            0
product_id             0
received_date          0
day_difference         0
sold_stock         10011
available_stock        0
type                   0
state                  0
dtype: int64

In [37]:
df_stock = df.loc[ df['sold_stock'].isnull()]

In [38]:
df_stock.shape

(10011, 8)

In [43]:
df_sales = df.dropna()
df_sales.shape

(225989, 8)

In [44]:
df_sales.head()

,retailer_id,product_id,received_date,day_difference,sold_stock,available_stock,type,state
1,103271,71,2019-07-12,309,0.95,19.05,sales,Rajasthan
2,103271,71,2019-07-12,136,0.45,18.60,sales,Rajasthan
3,103271,71,2019-07-12,133,0.05,18.55,sales,Rajasthan
4,103271,71,2019-07-12,124,0.60,17.95,sales,Rajasthan
5,103271,71,2019-07-12,123,2.60,15.35,sales,Rajasthan

In [41]:
df_stock.head()

,retailer_id,product_id,received_date,day_difference,sold_stock,available_stock,type,state
0,103271,71,2019-07-12,507,NaN,0.0,stock,Rajasthan
14,103279,71,2020-10-31,30,NaN,0.0,stock,Rajasthan
26,103305,71,2020-05-10,204,NaN,0.0,stock,Rajasthan
38,103311,8,2020-03-12,263,NaN,0.0,stock,Rajasthan
75,103311,71,2020-10-15,46,NaN,0.0,stock,Rajasthan