In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df_wholesaler_stock = pd.read_csv("../Wholesaler_Stock.csv")

In [7]:
df_wholesaler_stock.shape

(141251, 15)

In [8]:
df_wholesaler_stock.head()

,sr_no,active,created_at,created_by,modified_at,modified_by,company_name,dealer_id,dealer_type,district_name,opening_balance,place_name,plant_name,product_name,state_name
0,9562705,True,2020-12-31 00:00:00,admin,2020-12-31 00:00:00,admin,MOSAIC,250304,WHOLESALER,Anantapur,111.00,NaN,MOSAIC,MOP,Andhra Pradesh
1,9562977,True,2020-12-31 00:00:00,admin,2020-12-31 00:00:00,admin,MOSAIC,651150,WHOLESALER,East Godavari,35.50,NaN,MOSAIC,MOP,Andhra Pradesh
2,9563485,True,2020-12-31 00:00:00,admin,2020-12-31 00:00:00,admin,MOSAIC,452785,WHOLESALER,Guntur,43.00,NaN,MOSAIC,MOP,Andhra Pradesh
3,9563693,True,2020-12-31 00:00:00,admin,2020-12-31 00:00:00,admin,MOSAIC,250462,WHOLESALER,Guntur,40.95,NaN,MOSAIC,MOP,Andhra Pradesh
4,9563972,True,2020-12-31 00:00:00,admin,2020-12-31 00:00:00,admin,MOSAIC,250485,WHOLESALER,Guntur,37.00,NaN,MOSAIC,MOP,Andhra Pradesh

In [15]:
df_wholesaler_stock.place_name.unique()

array([nan])

In [16]:
df_wholesaler_stock_copy = df_wholesaler_stock.drop(columns=["active","created_at",	"created_by", "modified_at", "modified_by",	"company_name","dealer_type", "place_name", "plant_name" ])

In [17]:
df_wholesaler_stock_copy.head()

,sr_no,dealer_id,district_name,opening_balance,product_name,state_name
0,9562705,250304,Anantapur,111.00,MOP,Andhra Pradesh
1,9562977,651150,East Godavari,35.50,MOP,Andhra Pradesh
2,9563485,452785,Guntur,43.00,MOP,Andhra Pradesh
3,9563693,250462,Guntur,40.95,MOP,Andhra Pradesh
4,9563972,250485,Guntur,37.00,MOP,Andhra Pradesh

In [19]:
df_wholesaler_stock_copy.isna().sum()

sr_no              0
dealer_id          0
district_name      0
opening_balance    0
product_name       0
state_name         0
dtype: int64

In [21]:
df_wholesaler_stock_copy.dtypes

sr_no                int64
dealer_id            int64
district_name       object
opening_balance    float64
product_name        object
state_name          object
dtype: object

In [32]:
df_wholesaler_stock.dealer_type.unique()

array(['WHOLESALER'], dtype=object)

In [28]:
df_wholesaler_stock_copy.product_name = df_wholesaler_stock_copy.product_name.astype('category')

In [29]:
df_wholesaler_stock_copy.dtypes

sr_no                 int64
dealer_id             int64
district_name        object
opening_balance     float64
product_name       category
state_name           object
dtype: object

In [30]:
df_wholesaler_stock_copy.head()

,sr_no,dealer_id,district_name,opening_balance,product_name,state_name
0,9562705,250304,Anantapur,111.00,MOP,Andhra Pradesh
1,9562977,651150,East Godavari,35.50,MOP,Andhra Pradesh
2,9563485,452785,Guntur,43.00,MOP,Andhra Pradesh
3,9563693,250462,Guntur,40.95,MOP,Andhra Pradesh
4,9563972,250485,Guntur,37.00,MOP,Andhra Pradesh

In [31]:
df_wholesaler_stock.head()

,sr_no,active,created_at,created_by,modified_at,modified_by,company_name,dealer_id,dealer_type,district_name,opening_balance,place_name,plant_name,product_name,state_name
0,9562705,True,2020-12-31 00:00:00,admin,2020-12-31 00:00:00,admin,MOSAIC,250304,WHOLESALER,Anantapur,111.00,NaN,MOSAIC,MOP,Andhra Pradesh
1,9562977,True,2020-12-31 00:00:00,admin,2020-12-31 00:00:00,admin,MOSAIC,651150,WHOLESALER,East Godavari,35.50,NaN,MOSAIC,MOP,Andhra Pradesh
2,9563485,True,2020-12-31 00:00:00,admin,2020-12-31 00:00:00,admin,MOSAIC,452785,WHOLESALER,Guntur,43.00,NaN,MOSAIC,MOP,Andhra Pradesh
3,9563693,True,2020-12-31 00:00:00,admin,2020-12-31 00:00:00,admin,MOSAIC,250462,WHOLESALER,Guntur,40.95,NaN,MOSAIC,MOP,Andhra Pradesh
4,9563972,True,2020-12-31 00:00:00,admin,2020-12-31 00:00:00,admin,MOSAIC,250485,WHOLESALER,Guntur,37.00,NaN,MOSAIC,MOP,Andhra Pradesh